<form id="entity-create" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>{{localize "Cargo Type"}}</label>
        <label>{{name}}</label>
    </div>
    {{#if success}}
    <div class="form-group">
        {{#if buy}}
        <p>Your great skills (DC {{dc}}) found the opportunity to buy {{variation}} additional lots</p>
        {{/if}}
        {{#if sell}}
        <p>Your great skills (DC {{dc}}) found the opportunity to sell at {{variation}}% highher price</p>
        {{/if}}
    </div>
    {{/if}}
    {{#if buy}}
    {{#if pc}}
    {{{cdata}}}
    {{/if}}
    {{/if}}

    <div>
        <hr style="border: 1px solid #ccc; margin: 10px 0;" />
        <p style="font-weight: bold;"> Trade Complication related price adjustments (ask GM)</p>
    </div>
    <div class="form-group">
        <input type="checkbox" name="dn25" {{checked dn25}} /> <label>{{localize "-25%"}}</label>
        <input type="checkbox" name="dn12" {{checked dn12}} /> <label>{{localize "-12%"}}</label>
        <input type="checkbox" name="up12" {{checked up12}} /> <label>{{localize "+12%"}}</label>
        <input type="checkbox" name="up25" {{checked up25}} /> <label>{{localize "+25%"}}</label>

    </div>
    <div>
        <hr style="border: 1px solid #ccc; margin: 10px 0;" />

    </div>
    <div class="form-group">
        <label>{{localize "Negotiated Price (eCr)"}}</label>
        <input {{#if locksheet}}disabled{{/if}} class="singleLine" type="number" name="price" value="{{goods.price}}" />
    </div>
    <div class="form-group">
        {{#if sell}}
        <label>{{localize "Qty in Cargo (Tons)"}}</label>
        {{/if}}
        {{#if buy}}
        <label>{{localize "Max Qty Avail (Tons)"}}</label>
        {{/if}}
        <input {{#if locksheet}}disabled{{/if}} class="singleLine" type="number" name="qty"
            value="{{goods.quantity}}" />
    </div>


    {{console this}}

</form>