<div class="sfrpg-galactic-trade sheet planetsheet">
    {{#if data.title.show}}
    <header class="journal-page-header">
        <h{{data.title.level}}>{{data.name}}</h{{data.title.level}}>
    </header>
    {{/if}}
      <!--
{{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs"  data-group="primary">

        <a class="item" data-tab="detail">Details</a>
        <a class="item" data-tab="stuff">{{ localize "Trade" }}</a>



      
                <a class="item" data-tab="bio">{{ localize "SFRPG.Features" }}</a>
        <a class="item" data-tab="thing">{{ localize "SFRPG.Features" }}</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="perks">Perks</a>
	<a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="achievements">Achievements</a>
     <a class="item" data-tab="attributes">Attributes</a>



    </nav>-->
    <nav class="sheet-tabs newtabs" data-group="newTabs">
        <a class="item active{{#if system.details.biography.value}} highlight{{/if}}" data-tab="details">{{localize "Details"}}</a>
      
        <a class="item{{#if system.details.biography.gmNotes}} highlight{{/if}}" data-tab="stuff">{{localize "Trade"}} {{#if system.details.biography.gmNotes}} (!){{/if}}</a>
   
    </nav>


    <section class="new-body">
        <div class="tab flexrow gt-details" data-group="newTabs" data-tab="details">
            {{#if enhanced}}

            {{> "modules/sfrpg-galactic-trade/templates/planet-biography-enhanced.html"  hideVitals=false}}

            {{else}}

            {{> "modules/sfrpg-galactic-trade/templates/planet-biography.html" hideVitals=false}}
            {{/if}}
        </div>
      
        <div class="tab flexrow" data-group="newTabs" style="flex: 0 0 100% " data-tab="stuff">
                <table>
                    <thead>
                        <tr>
                            <th colspan="5">
                                Trade Data as at {{tradeDataDate.date}} 
                            </th>
                            <th colspan="2">


                            </th>


                            {{#if isGM}}
                            <th colspan="4">
                                <input   type = "button" value = "Update Prices" class="recalculatetrade" data-id="{{document.id}}">
                            </th>
                            {{/if}}
                        </tr>
                        <tr>
                            <th rowspan="2">
                                Goods
                            </th>
                            <th colspan="2">
                                Credits / Tons
                            </th>
                            <th colspan="2">
                                BP / Lots
                            </th>
                            <th colspan="2">
                                Trade
                            </th>       
                            {{#if isGM}}
                            <th colspan="2">
                                Trade
                            </th>  
                            <th colspan="2">
                                Illegal Trade
                            </th>      
                            {{/if}}
                        </tr>
                       
                        <tr>
                            <th>
                                eCr
                            </th>
                            <th>
                                tons
                            </th>
                            <th>
                                BP
                            </th>
                            <th>
                                Lots
                            </th>
                            <th>
                                Buy
                            </th>
                            <th>
                                Sell
                            </th>
                            {{#if isGM}}
                            <th>
                                Buy
                            </th>
                            <th>
                                Sell
                            </th>
                            <th>
                                Buy
                            </th>
                            <th>
                                Sell
                            </th>
                            {{/if}}
                        </tr>
                    </thead>
                    {{#each document.system.trade.goods as |category id|}}
                    <tr  data-tooltip = "{{category.tooltip}}" {{#if (eq category.color "red" )}} style="background-color: rgb(191, 243, 198) ;" {{/if}} {{#if (eq category.color "green" )}} style="background-color: rgb(255, 208, 208) ;" {{/if}}>
                       <!--console category--> 
                        <td>
                            {{localize (tradelookup ../config.goods id "")}}
                        </td>
                        <td  >
                            {{category.price}}
                        </td>
                        <td>
                            {{category.quantity}}
                        </td>
                        <td>
                            {{category.bp}}
                        </td>
                        <td>
                            {{category.lots}}
                        </td>
                        <td>
                            <input {{#if (and   (not noBuy)  (not illegalBuy)  )}}  disabled {{/if}} {{#if illegalBuy}} style="background-color: crimson;" {{/if}} type = "button" value = "Buy" class="buy" data-id="{{id}}" data-location="{{../document.uuid}}">
                        </td>
                        <td>
                           <input input {{#if (and   (not noSell)  (not illegalSell)  )}}  disabled {{/if}} {{#if illegalSell}} style="background-color: crimson;" {{/if}}type = "button" value = "Sell" class="sell" data-id="{{id}}">
                        </td>
                        {{#if ../isGM}}
                        <td>
                            <input name= "system.trade.goods.{{id}}.noBuy" {{checked noBuy }} type = "checkbox"  class="TradeBuy" data-id="{{id}}">
                        </td>
                        <td>
                           <input name= "system.trade.goods.{{id}}.noSell" {{checked noSell}} type = "checkbox"  class="TradeSell" data-id="{{id}}">
                        </td>
                        <td>
                            <input name= "system.trade.goods.{{id}}.illegalBuy"  {{checked illegalBuy}} type = "checkbox"  class="IllegalBuy" data-id="{{id}}">
                        </td>
                        <td>
                           <input name= "system.trade.goods.{{id}}.illegalSell"  {{checked illegalSell}} type = "checkbox"  class="IllegalBuy" data-id="{{id}}">
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </table>
            </div>
            </section>  
      





