<form class="{{cssClass}} flexcol" autocomplete="off">
    {{> journalEntryPageHeader}}
    {{console this}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs"  data-group="primary">

        <a class="item" data-tab="details">Details</a>
        <a class="item" data-tab="trade">{{ localize "Trade" }}</a>



        <!--
                <a class="item" data-tab="bio">{{ localize "SFRPG.Features" }}</a>
        <a class="item" data-tab="thing">{{ localize "SFRPG.Features" }}</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="perks">Perks</a>
	<a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="achievements">Achievements</a>
     <a class="item" data-tab="attributes">Attributes</a>
-->


    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}


        {{!-- Stats Tab --}}
        <div class="tab details flexrow" data-group="primary" data-tab="details">
            {{console "editer"}}
            {{console this}} {{console editor}}
   
          <!-- [{editor
                enrichedBiography
                target="system.details.biography.value"
                button=true
                editable=editable
            }] -->
            {{#if enhanced}}
            {{> "modules/sfrpg-galactic-trade/templates/planet-biography-enhanced.html" edit=true hideVitals=false}}

            {{else}}
  
            {{> "modules/sfrpg-galactic-trade/templates/planet-biography.html" edit=true hideVitals=false}}
            {{/if}}
        </div>

        

        {{!-- Trade Tab --}}
        <div class="tab trade" data-group="primary" data-tab="trade">
            

            
            <table>
                <thead>
                    <tr>
                        <th colspan="5">
                            Trade Data as at {{tradeDataDate.date}} 
                        </th>
                        <th colspan="2">


                        </th>


                        {{#if isGM}}
                        <th colspan="4">
                            <input   type = "button" value = "Update Prices" class="recalculatetrade" data-id="{{document.id}}">
                        </th>
                        {{/if}}
                    </tr>
                    <tr>
                        <th rowspan="2">
                            Goods
                        </th>
                        <th colspan="2">
                            Credits / Tons
                        </th>
                        <th colspan="2">
                            BP / Lots
                        </th>
                        <th colspan="2">
                            Trade
                        </th>       
                        {{#if isGM}}
                        <th colspan="2">
                            Trade
                        </th>  
                        <th colspan="2">
                            Illegal Trade
                        </th>      
                        {{/if}}
                    </tr>
                   
                    <tr>
                        <th>
                            eCr
                        </th>
                        <th>
                            tons
                        </th>
                        <th>
                            BP
                        </th>
                        <th>
                            Lots
                        </th>
                        <th>
                            Buy
                        </th>
                        <th>
                            Sell
                        </th>
                        {{#if isGM}}
                        <th>
                            Buy
                        </th>
                        <th>
                            Sell
                        </th>
                        <th>
                            Buy
                        </th>
                        <th>
                            Sell
                        </th>
                        {{/if}}
                    </tr>
                </thead>
                {{#each document.system.trade.goods as |category id|}}
                <tr  data-tooltip = "{{category.tooltip}}">
                   <!--console category--> 
                    <td>
                        {{localize (tradelookup ../config.goods id "")}}
                    </td>
                    <td>
                        {{category.price}}
                    </td>
                    <td>


                        {{#if ../isGM}}
                        <input width="30px" name= "system.trade.goods.{{id}}.quantity" value="{{category.quantity}}" type = "number" >
                        {{else}}
                        {{category.quantity}}

                        {{/if}}
                    </td>
                    <td>
                        {{category.bp}}
                    </td>
                    <td>
                        {{category.lots}}
                    </td>
                    <td>
                        <input   type = "button" value = "Buy" class="buy" data-id="{{id}}" data-location="{{../document.uuid}}">
                    </td>
                    <td>
                       <input type = "button" value = "Sell" class="sell" data-id="{{id}}">
                    </td>
                    {{#if ../isGM}}
                    <td>
                        <input name= "system.trade.goods.{{id}}.noBuy" {{checked noBuy }} type = "checkbox"  class="TradeBuy" data-id="{{id}}">
                    </td>
                    <td>
                       <input name= "system.trade.goods.{{id}}.noSell" {{checked noSell}} type = "checkbox"  class="TradeSell" data-id="{{id}}">
                    </td>
                    <td>
                        <input name= "system.trade.goods.{{id}}.illegalBuy"  {{checked illegalBuy}} type = "checkbox"  class="IllegalBuy" data-id="{{id}}">
                    </td>
                    <td>
                       <input name= "system.trade.goods.{{id}}.illegalSell"  {{checked illegalSell}} type = "checkbox"  class="IllegalBuy" data-id="{{id}}">
                    </td>
                    {{/if}}
                </tr>
                {{/each}}
            </table>
        </div>



    </section>
</form>